.btn {
	background-color: $mainBlue;
	border-radius: 25px;
	color: #fff;
	display: inline-block;
	margin-top: 25px;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: 0.5s background-color ease;

	&:hover {
		background-color: $mainPink;
	}

	&--kv {
		@mixin atVerySmall {
			margin-top: 10px;
		}
	}

	&--pink {
		background-color: $mainPink;
		padding: 0.75rem 1.2rem;

		&:hover{
			background-color: $mainBlue;
		}
	}

	&--shadow {
		box-shadow: 0px 4px 10px 4.03px rgba(27, 84, 127, 0.34);
	}

	&--long {
		width: 150px;
	}

	&--large {	
		padding: 1.1rem 1.9rem;

		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
}

.center {
	text-align: center;
}