.headline {
	font-size: 2.6rem;
	font-weight: 700;

	& > span {
		font-family: 'Playfair Display';
		font-size: 1.8rem;
		font-style: italic;
		font-weight: 400;
	}

	&--small {
		font-size: 1.8rem;
	}

	&--smaller {
		font-size: 1.2rem;
		text-transform: uppercase;
		clear: both;
	}

	&--white {
		color: #fff;
	}

	&--black {
		color: #585858;
	}

	&--centered {
		text-align: center;
	}

	&--centered-underline:after {
		content: '';
		width: 90px;
		height: 10px;
		border-radius: 10px;
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 60px;
	}

	&--left-underline:after {
		content: '';
		width: 90px;
		height: 10px;
		border-radius: 10px;
		display: block;
		margin-top: 30px;
		margin-bottom: 60px;		
	}

	&--underline-pink:after {
		background-color: $mainPink;
	}
}