.headline {
	font-size: 1.6rem;
	line-height: 1.9rem;
	font-weight: 700;

	@mixin atMedium {
		font-size: 2.6rem;
		line-height: 2.9rem;
	}

	& > span {
		font-family: 'Playfair Display';
		font-size: 1.8rem;
		font-style: italic;
		font-weight: 400;
	}

	&--small {
		font-size: 1.8rem;
	}

	&--smaller {
		font-size: 1.2rem;
		text-transform: uppercase;
		line-height: 1.5rem;
		/* clear: both; */
	}

	&--white {
		color: #fff;
	}

	&--black {
		color: #585858;
	}

	&--blue {
		color: $mainBlue;
	}

	&--centered {
		text-align: center;
	}

	&--centered-underline:after {
		content: '';
		width: 90px;
		height: 10px;
		border-radius: 10px;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 60px;
	}

	&--centered-underline-short:after {
		content: '';
		width: 50px;
		height: 10px;
		border-radius: 10px;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}

	&--left-underline:after {
		content: '';
		width: 90px;
		height: 10px;
		border-radius: 10px;
		display: block;
		margin-top: 15px;		
	}

	&--underline-pink:after {
		background-color: $mainPink;
	}
}