.page-section {

	padding: 1.2rem 0.625rem;
	
	@mixin atMedium {
		padding: 4.5rem 0;

		&--large-padding {
			padding: 7.5rem 0;
		}	
	}

	&--no-b-padding {
		padding-bottom: 0;
	}

	&--large-b-padding {
		padding-bottom: 31%;

		@mixin atMedium {
			padding-bottom: 10%;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}


}