.testimonials {
	background-color: #e978a0;

	&__row {
			box-shadow: 0px 10px 39px 3px rgba(0,0,0,0.2);
	}

	&__slider-pic {
			height: 400px;
			background-image: url('../../assets/images/pug-bg.jpeg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right center;
	}

	&__slider-content {
			background-color: #fff;
			padding: 15px;
			height: 400px;
			position: relative;
	
			& span {
				font-size: 1.2rem;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				display: block;
			}
	
			.testimonials-slider__item {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				padding: 0 20px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s ease;

				p {
					font-size: 1.1rem;
					line-height: 1.5rem;
				}

				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin: 0 auto;
					display: block;
					margin-bottom: 10px;
				}

				&.active {
					visibility: visible;
					opacity: 1;
				}
			}
	}

	&-slider--link {
			width: 15px;
			height: 15px;
			border-radius: 10px;
			display: block;
			float: left;
			margin-right: 15px;
			background-color: rgba(255,255,255,.60);
			transition: all 0.5s ease;
			

			&.active {
				background-color: #fff;
			}
	}

	&-slider__controls {
		width: 100px;
		margin: 30px auto 0;
	}
}