.welcome {
	position: relative;
	&.lazyloaded {
		background-image: url('../../assets/images/welcome-bg.jpg');
		background-position: center center;
		background-size: cover;
	}

	& p {
		color: #fff;
	}

	@mixin atMedium {
		p {
			width: 400px;
		}
	}

	.dog-house {
		position: relative;
		&.lazyloaded {
			background-image: url('../../assets/images/dog-house-bg.png');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 330px;
			height: 250px;
			margin: 0 auto;

			@mixin atVerySmall {
				width: 100%;
				background-size: auto;
				background-image: url('../../assets/images/dog-house-bg-small.png');
			}

			@mixin atMedium {
				width: 500px;
				height: 343px;
				margin-top: 50px;			
			}


		}



		& > img {
			width: 125px;
			display: block;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 30%;

			@mixin atMedium {
				width: 200px;
				left: 33%;
			}
		}
	}

	&--dog {
		width: 550px;
		position: absolute;
		bottom: 0;
		left: -5px;
		/* animation-delay: 1s; */
	}
}